@import '_vars';
@import 'modules/_navbar';
@import 'modules/_hobbies';
@import 'modules/_errors';

body {
    color: $main-color;
    background-color: $body-bg;
    font-family: 'Comfortaa', cursive;
}

h1 {
    color: $splash-color;
}

h2 {
    color: $title-color;
}

h4 {
    color: $desc-color;
}

h5 {
    color: $link-color;
}



.panel { 
    min-height: 80vh; 
    background-color: #020A2F;
}

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }

@import 'modules/_footer'
