<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    
    <title>Oops!</title>
</head>

<body>
    <div id="errorSplash"><img src="/public/images/error_bckgrnd.png" alt=""></div>
    <main class="error-section">
    <a href="/">Back to Home</a>
  
    {{{ body }}}
    </main>

</body>
</html>