<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"> <!-- this is a static path that will automatically search in "public" -->
    <title>My Favourite Things</title>
</head>

<body>
    <h1><a href="/">MY FAV <br> THINGS</a></h1>

    <main>
        {{{ body }}}
    </main>


    <footer>
        <p>&copy; 2019 My Fav Things. All Rights Reserved</p>

    </footer>


    <script type="module" src="js/main.js"></script>
    <script>
       
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="icon"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
    <script src="js/main"></script>
</body>

</html>